body{
    background-color: rgb(64, 233, 168);
}


h2{
    color:red;
}

.heading {
    background-color: aliceblue;
    margin: 3%;
    border: 2%;
    border-width: 2%;
    border-style: solid;
    display: flex;
    text-align: center;
}
.heading> img{
    margin: 2%;
}
.heading> h1 {
    margin: 6%;
    margin-left: 30%;
    font-size: 200%;
}

.info {
    background-color:rgb(240, 169, 146) ;
    margin: 4%;
    border-width: 1%;
    border-style: solid;

}