body {
    background-color: rgb(209, 240, 152);
}

.header {
    border-style: solid;
    border-width: 3px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(242, 245, 247);
    margin: 3%;
    display: flex;
}

.header > img{
    margin: 2%;
}

.header > h1{
    margin: 6%;
    font-size: 400%;
}

.image{
    margin-top: 15%;
    margin-left:20% ;
}

.content {
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 4%;
    margin-right: 4%;

}

.content > p1 {
    font-size: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content > p2 {
    font-size: 100%;
    font-family: serif ;
}

.content > p3 {
    font-size: 100%;
    font-family: cursive;
}