body {
    background-color: azure;
}
.volume {
    border-style:solid;
    border-width: 3px;
    margin: 10%;
    padding-left: 25%;
    font-size: 200%;
    padding-bottom: 5%;
}
.volume > input {
    margin: 20px;
}
.volume > h1 {
    font-size: 140%;
    align-items: center;
}
.volume > button {
    font-size: 100%;
    margin-left: 10%;
}


